body {
    margin: 0;
    background-color: #EFF2FB;
    max-height: 100%;
}
.sidebar{
    position: absolute;
    width: 260px;
    height: 100%;
    border-radius: 0% 30px 30px 0%;
    background-color: #313442;
}

.sidediv{
    font-family: Poppins;
    padding: 20px;
    margin-top: 30px;
    
}


li{
    width: 170px;
    
    list-style: none;
    margin-left: 10%;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 21px;
    cursor: pointer;
    
}




ul li:nth-child(5){
    position: absolute;
    bottom: 200px;

}
ul li:nth-child(6){
    position: absolute;
    bottom: 140px;

}

.fa-solid{
    padding-right: 20px;
}
.fa-regular{
    padding-right: 20px;
}   


.content {
margin-left: 125px;
padding: 20px;
}

.content h1 {
    font-size: 24px;
    color: #2D55B4;
    margin-bottom: 20px;
}

.card .section {
    padding: 10px;
}

.section h3 {
    font-size: 18px;
    color: #2D55B4;
    margin-bottom: 10px;
}

.section p {
    margin-bottom: 8px;
    font-size: 14px;
}
.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : #3B5998;
    color       : #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #000;
    color       : #fff;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
